#rp-system-header .ant-layout-header{
    padding:0 5px 0 20px;
    margin:0;
    height:48px;
    line-height:48px;
    background-color:#002F4F;
}
#rp-system-header .rp-system-header-quicksearch{
    margin:12px
}

#rp-system-header div.ant-select-selection-selected-value {
    line-height:22px;
}

#rp-system-header .anticon-menu{
    color: #FFFFFF;
    font-size: 18px;
}

#rp-system-header .ant-input{
    line-height:24px;
}

#rp-system-header .avatar{
    line-height:44px;
    cursor:pointer;
}

#rp-system-menu {
    z-index: 9999;
    width:60px;
    overflow:auto;
    position: fixed;
    left: 0;
    height: calc(100vh - 48px);
}

#rp-system-menu .ant-menu{
    height:100%;
}

#rp-system-menu .ant-menu-inline-collapsed{
 width:60px;
}

#rp-system-menu .ant-menu-submenu-title {
    padding:0 22px !important;
}

#rp-system-menu .ant-menu-item {
    padding:0 22px !important;
    margin:0 !important;
}

#rp-content{
    background: rgba(255, 255, 255, 0.2);
    margin-left:60px;
    padding:5px 10px 0 10px;
}

#rp-content .router-view{
    margin:0 0;
    height: calc(100vh - 53px);
}

#rp-content .ant-table-body{
    height: calc(100vh - 125px);
    overflow-y: scroll;
}
#rp-content .ant-breadcrumb{
    margin-bottom:5px;
}

#rp-content .ant-divider{
    font-size:14px;
    margin: 0 0 5px 0;
}
#rp-content td{
    padding:5px;
}

#rp-content th {
    padding:5px;
}

#rp-content .ant-table-body-inner{

}

#rp-content .ant-table-body{
    background-color: #FFFFFF;

}

#rp-content .ant-pagination{
    margin:10px 0;
}

