#rp-system-header .ant-layout-header{
    padding:0 5px 0 20px;
    margin:0;
    height:48px;
    line-height:48px;
    background-color:#002F4F;
}
#rp-system-header .rp-system-header-quicksearch{
    margin:12px
}

#rp-system-header div.ant-select-selection-selected-value {
    line-height:22px;
}

#rp-system-header .anticon-menu{
    color: #FFFFFF;
    font-size: 18px;
}

#rp-system-header .ant-input{
    line-height:24px;
}

#rp-system-header .avatar{
    line-height:44px;
}

#rp-system-menu{
    min-width:250px;
    overflow:auto;
    position: fixed;
    left: 0;
    height: calc(100vh - 48px);
}

#rp-system-menu .ant-menu-inline-collapsed{
 width:60px;
}

#rp-system-menu .ant-menu-submenu-title {
    padding:0 22px !important;
}

#rp-system-menu .ant-menu-item {
    padding:0 22px !important;
    margin:0 !important;
}

#rp-content{
    background-color:red;
    margin-left:60px;
    height: calc(100vh - 48px);
}


